.dice {
    border: 3px solid;
    margin: 10px;
    width: 80px;
    height: 80px;
    background-color: #DAA520;
    font-weight: bold;
    font-size: 50px;
    border-radius: 25px;
}

.diceToRoll {
    opacity: .5;
}